.custom-textarea {
    height: 400px; /* ปรับค่าตามที่ต้องการ */
  }
.custommodal-textarea {
    height: 80px; /* ปรับค่าตามที่ต้องการ */
  }
.custominmodal-textarea {
    height: 100px; /* ปรับค่าตามที่ต้องการ */
 }  
 #chart {
  width: 600px;
  height: 150px;
  max-width: 650px;
  margin: 35px auto;
}