<nz-content>

  <div class="inner-content">

    <div class="flex flex-wrap justify-between gap-x-6 rounded-lg border-1 p-4 shadow">
      <!-- <div class="flex flex-row ml-4 w-80 shadow p-5 rounded"> -->
      <div class="flex flex-row ml-4 w-56 ">
        <div>
          <button class="rounded-full border-2 w-15 h-15 p-4 bg-orange-200  border-orange-300"><i
              class="fa-solid fa-building-user text-orange-600 text-[20px]"></i></button>
        </div>

        <div class="flex flex-col w-full content-center">
          <div class="flex font-bold justify-end text-5xl text-orange-700">
            2
          </div>
          <div class="flex justify-end text-right text-sm font-bold">
            ผู้ป่วยที่ส่งต่อ
          </div>
        </div>
      </div>
      <div class="flex flex-row ml-4 w-56">
        <div>
          <button class="rounded-full border-2 w-15 h-15 p-4 bg-red-100  border-red-300"><i
              class="fa-solid fa-building-user text-red-600 text-[20px]"></i></button>
        </div>

        <div class="flex flex-col w-full content-center">
          <div class="flex font-bold justify-end text-5xl text-red-700">
            25
          </div>
          <div class="flex justify-end text-right text-sm font-bold">
            ผู้ป่วยที่ยังคง
            ักษาอยู่
          </div>
        </div>
      </div>
      <div class="flex flex-row ml-4 w-56 ">
        <div>
          <button class="rounded-full border-2 w-15 h-15 p-4 bg-green-100  border-green-300"><i
              class="fa-solid fa-building-user text-green-600 text-[20px]"></i></button>
        </div>

        <div class="flex flex-col w-full content-center">
          <div class="flex font-bold justify-end text-5xl text-green-700">
            12
          </div>
          <div class="flex justify-end text-right text-sm font-bold">
            ผู้ป่วยที่จำหน่ายวันนี้
          </div>
        </div>
      </div>

    </div>

    <nz-page-header class="site-page-header bg-white rounded-lg mt-5"
      nzTitle="ทะเบียนผู้ป่วยที่ยัง Admit ในตึก : {{wardName}}">
      <nz-page-header-extra>
        <nz-space>
          <nz-select (ngModelChange)="onSelectWard($event)" style="width: 220px;" nzPlaceHolder="เลือก Ward"
            *nzSpaceItem [(ngModel)]="dataWard">
            <nz-option *ngFor="let ward of wards" [nzValue]="ward" [nzLabel]="ward.name"></nz-option>
          </nz-select>
          <nz-input-group *nzSpaceItem nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" name="query" [(ngModel)]="query" nz-input placeholder="ค้นหา..." />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <nz-button-group>
              <button nz-button nzType="primary" nzSearch [disabled]="!query" (click)="doSearch()"><span nz-icon
                  nzType="search"></span></button>
              <button nz-button nzType="primary" (click)="refresh()"><span nz-icon nzType="reload"></span></button>
            </nz-button-group>
          </ng-template>
        </nz-space>
      </nz-page-header-extra>
    </nz-page-header>
    <div class="inner-content -mt-8">

      <nz-table #userTable nzSize="small" [nzHideOnSinglePage]="true" [nzData]="dataSet">
        <thead>
          <tr>
            <th>Bed</th>
            <th>AN</th>
            <th>HN</th>
            <th>ชื่อ - สกุล</th>
            <th>อายุ</th>
            <th>เพศ</th>
            <th>Diag text</th>
            <th>Admit Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of userTable.data">
            <td>
              <button nz-button nzType="primary" nzShape="circle"> {{data.bed_number}}</button>
            </td>
            <td>{{data.an}}</td>
            <td>{{data.hn}}</td>
            <td>{{data.title}}{{data.fname}} {{data.lname}}</td>
            <td>{{data.age}}</td>
            <td>{{data.gender}}</td>
            <td>{{data.pre_diag}}</td>
            <td>{{data.admit_date}} เวลา {{data.admit_time}}</td>
            <td style="text-align: center;">
              <div class="flex items-center content-center ...">

                <button nz-button class="flex items-center content-center rounded p-1  bg-green-300 border-green-500"
                  (click)="nurseNote(data)">
                  <i class="fa-solid fa-notes-medical text-lg"></i>
                </button>&nbsp;&nbsp;

                <button nz-button nz-dropdown [nzDropdownMenu]="menu"
                  class="rounded p-2 flex items-center gap-1 content-center bg-blue-300 border-blue-500">
                  <i class="fa-solid fa-list-ul text-lg"></i>
                  <span>จัดการ</span>
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    <!-- <li nz-menu-item><span nz-icon nzType="form" nzTheme="outline"></span>&nbsp;แก้ไขข้อมูล</li> -->
                    <li nz-menu-item (click)="nurseNote(data.an)"
                    ><span nz-icon nzType="diff"
                        nzTheme="outline"></span>&nbsp;บันทึกกิจกรรม (Nurse note)</li>
                    <li nz-menu-item (click)="changeWard(data.id)"><span nz-icon nzType="pic-right"
                        nzTheme="outline"></span>&nbsp;ย้ายตึก/เตียง </li>
                    <li nz-menu-item (click)="changeDoctor(data)"><span nz-icon nzType="user-switch"
                        nzTheme="outline"></span>&nbsp;ระบุแพทย์ </li>
                    <li nz-menu-item nzDanger *ngIf="!data.is_order" (click)="deleteAdmit(data.id)"><span nz-icon nzType="delete" 
                        nzTheme="outline"></span>&nbsp;ลบรายการ</li>
                  </ul>
                </nz-dropdown-menu>
              </div>
            </td>
          </tr>

        </tbody>
      </nz-table>

      <br>
      <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="total" nzShowSizeChanger [nzPageSize]="pageSize"
        [nzPageSizeOptions]="[20,50,100]" (nzPageIndexChange)="onPageIndexChange($event)"
        (nzPageSizeChange)="onPageSizeChange($event)" [nzShowTotal]="totalTemplate"></nz-pagination>

      <ng-template #totalTemplate let-total>ทั้งหมด {{ total | number }} รายการ</ng-template>

    </div>
  </div>
</nz-content>

<nz-modal [(nzVisible)]="isVisible" nzTitle="{{modalTitle}}" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading">
  <p *nzModalContent>
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="selectedValue">
      <div *ngFor="let data of doctors">
        <nz-option nzLabel="{{data.fname}}  {{data.lname}}" nzValue="{{data.user_id}}"></nz-option>
      </div>
    </nz-select>
  </p>

</nz-modal>